@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
  overflow-x: hidden;
}

@layer utilities {
    .scrollbar-white {
      scrollbar-width: thin; /* Firefox */
      scrollbar-color: gray transparent; /* Firefox */
  
      /* WebKit */
    }
  
    .scrollbar-white::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
  
    .scrollbar-white::-webkit-scrollbar-thumb {
      background-color: gray;
      border-radius: 4px;
    }
  
    .scrollbar-white::-webkit-scrollbar-track {
      background: transparent;
    }
  
    .scrollbar-white::-webkit-scrollbar-button {
      background-color: gray;
      height: 8px;
      width: 8px;
    }

    
  .raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  .raleway2 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  .raleway3 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .raleway4 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }
}
  

button{
    background-color: transparent;
    padding: 0.25rem;
    margin: 0.25rem;
    border: 2px solid #ffffff80;
}
button.selected{
    padding: 0.25rem;
    margin: 0.25rem;
    background-color: #ffffff80;
    border: 2px solid #a855f7;
    color: #000;
}

.vibrate {
    animation: vibration 0.5s ease-in-out infinite;
  }

@keyframes vibration {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-2px);
    }
    50% {
      transform: translateX(2px);
    }
    75% {
      transform: translateX(-2px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .anim-metal {
    background: linear-gradient(
        to right,
        #888888 0%, 
        #ffffff 20%, 
        #888888 40%, 
        #888888 100%
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    
    animation: metallic-shine 3s linear infinite;
}

@keyframes metallic-shine {
    to {
        background-position: 200% 0;
    }
}