---
import ReactRenderBridge from '../components/_react/ReactRenderBridge';
import {supportedLanguages, defaultTranslation} from '../i18n';
const langs = await supportedLanguages();
const defaultLocale = defaultTranslation;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Isa Wild Dev -1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />	
    
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #0b0b0b;
        color: white;
        font-family: sans-serif;
        margin: 0;
        flex-direction: column; 
      }
    </style>
  </head>
  <body>
    <ReactRenderBridge client:only="react"  langs={langs} defaultLocale={defaultLocale}  /> 
  </body>
</html>
