---
import ReactRenderBridge from '../components/_react/ReactRenderBridge';
import {supportedLanguages, defaultTranslation} from '../i18n';
const langs = await supportedLanguages();
const defaultLocale = defaultTranslation;
const base_path = import.meta.env.PUBLIC_BASE_PATH;
console.log('Base path: ',base_path);
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Isa Wild Dev</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />	
    {langs.map((lang) => (
      <link rel="prefetch" href={`${lang.code}/home`} />
    ))}
    
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #0b0b0b;
        color: white;
        font-family: sans-serif;
        margin: 0;
        flex-direction: column; 
      }
    </style>
  </head>
  <body>
    <ReactRenderBridge client:only="react" base_path={base_path} langs={langs} defaultLocale={defaultLocale}  /> 
  </body>
</html>
