---
import SwitchLang from './SwitchLang.tsx';
import NavbarContent from './NavbarContent.tsx';
import { supportedLanguages } from '../i18n';

const { t, m } = Astro.props;
const sup = await supportedLanguages();
---

<nav class=`fixed top-0 z-50 w-full  text-white shadow-md h-[${m.navbar_height}] px-[5%] py-[20px]`>
  <NavbarContent client:visible t={t} m={m} langs={sup}/>
</nav>
