---
import Timeline from '../components/Timeline.astro';
import TimelineSpacer from './TimelineSpacer';
import MainText from './MainText';
const { t, m } = Astro.props;
---
<div class="welcome-container"> 
  <MainText client:only="react" t={t} />
  <TimelineSpacer client:load />
  <Timeline t={t} m={m}/>
  
</div>

<script>
  const options = {
    threshold: 0.2 // Cuando un % del elemento es visible
  };

  const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.scrollIntoView({ behavior: 'smooth' });
      }
    });
  }, options);

  document.querySelectorAll('.maincard').forEach(card => {
    observer.observe(card);
  });
</script>

<script is:inline type="module">
  import('https://cdn.skypack.dev/gsap').then(({ gsap }) => {
    import('https://cdn.skypack.dev/gsap/ScrollTrigger').then(({ ScrollTrigger }) => {
      gsap.registerPlugin(ScrollTrigger);
      // TIMELINE 2: Animar #main-chat cuando se pasa cierto punto
      const tl2 = gsap.timeline({
        ease: "power2.out",
        scrollTrigger: {
          scrub: 1,
        },
      });

      tl2.from("#main-chat", {
        duration: 0.1,
        opacity: 0,
      }).to("#main-chat", {
        duration: 0.5,
        opacity: 1,
      });
    });
  });
</script>
