---
import Timeline from '../components/Timeline.astro';
import TimelineSpacer from './TimelineSpacer';
import MainText from './MainText';
const { t, m } = Astro.props;
---
<div class="welcome-container"> 
  <TimelineSpacer client:only="react" t={t} /> 
  <Timeline t={t} m={m}/>
</div>


